<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RNA-Explorer</title>

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.js"></script>

</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom fixed-top px-4">
        <div class="container-fluid d-flex align-items-center">
            <a class="navbar-brand fw-bold" href="{% url 'home' %}">
                <img src="{% static 'images/RNAExplorer.png' %}" alt="RNA-Verse Logo" height="55" style="transform: scale(1.35); transform-origin: left center;">
            </a>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link fs-5" href="{% url 'home' %}">Feature explorer</a></li>
                    <li class="nav-item"><a class="nav-link fs-5" href="{% url 'help' %}">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>

     <!-- Main Content -->
    <main class="flex-fill" style="padding-top: 80px;">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="text-center py-3 mt-auto">
        <div class="container">
            <p>Copyright © 2025 RNA-Explorer. All rights reserved. 
                <a href="#">Privacy</a> | <a href="#">Terms & Conditions</a>
            </p>
        </div>
    </footer>

{% block scripts %}
{% endblock %}

</body>

</html>